In [72]:
import numpy as np
import pandas as pd
from datetime import date, timedelta
import io
import requests

In [73]:
query_date = date.today()
url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/"

In [74]:
request = requests.get(url + query_date.strftime("%m-%d-%Y") + ".csv")
print("Request status code:", request.status_code)

Request status code: 404

In [75]:
if request.status_code == 404:
    query_date = today - timedelta(days = 1)
    request = requests.get(url + query_date.strftime("%m-%d-%Y") + ".csv")
print("Request status code:", request.status_code)

Request status code: 200

In [76]:
df = pd.read_csv(io.StringIO(request.content.decode('utf-8')))
df.rename(columns={'Admin2': 'County', 'Province_State': 'State', 'Country_Region': 'Country', 
                   'Last_Update': 'Update', 'Long_': 'Long', 'Combined_Key': 'Key'}, inplace=True)
df.set_index('Key', inplace=True)
df = df[df["Country"] == "US"]

In [77]:
df.head()

,FIPS,County,State,Country,Update,Lat,Long,Confirmed,Deaths,Recovered,Active
Key,,,,,,,,,,,
"Abbeville, South Carolina, US",45001.0,Abbeville,South Carolina,US,2020-03-26 23:48:35,34.223334,-82.461707,3,0,0,0
"Acadia, Louisiana, US",22001.0,Acadia,Louisiana,US,2020-03-26 23:48:35,30.295065,-92.414197,3,0,0,0
"Accomack, Virginia, US",51001.0,Accomack,Virginia,US,2020-03-26 23:48:35,37.767072,-75.632346,2,0,0,0
"Ada, Idaho, US",16001.0,Ada,Idaho,US,2020-03-26 23:48:35,43.452658,-116.241552,39,0,0,0
"Adair, Iowa, US",19001.0,Adair,Iowa,US,2020-03-26 23:48:35,41.330756,-94.471059,1,0,0,0

In [88]:
df['Confirmed'].sum()

83836

In [89]:
query_state = "California"
query_county = "Alameda"

In [90]:
df[(df["State"] == query_state) & (df["County"] == query_county)][["Confirmed", "Deaths", "Recovered", "Active"]]

                         Confirmed  Deaths  Recovered  Active
Key
Alameda, California, US        178       4          0       0